
#footer_container {
    background-color: #FFFFFF;
    border: 1px hidden #CCCCCC;
    box-shadow: 2px 2px 3px green;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
    padding: 0 9px 8px;
    width: 726px;
}

#footer_text {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:10px;
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
}


#container_h1 {
	color: seagreen;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 22px;
	margin: 0 0 10px 8px;
	padding:0;
}